<div class='col-xs-12 col-sm-3 col-md-2 sidebar'>
  <ul class='list-group'>
    <li class='list-group-item'><%= link_to 'ホーム', admin_root_path %></li>
    <li class='list-group-item'><%= link_to 'ユーザー一覧', admin_users_path %></li>
    <li class='list-group-item'><%= link_to 'ログ一覧', admin_logs_path %></li>
    <li class='list-group-item'><%= link_to '問い合わせ一覧', admin_contacts_path %></li>
    <li class='list-group-item'>Dapibus ac facilisis in</li>
    <li class='list-group-item'>Morbi leo risus</li>
    <li class='list-group-item'>Porta ac consectetur ac</li>
    <li class='list-group-item'>Vestibulum at eros</li>
  </ul>
</div>
