<%= link_to product_favorites_path(product.id), method: :post, id: "js-favorite-button-for-product-#{product.id}"  do %>
  <button class="btn btn-lg btn-outline-secondary"><i class="fas fa-thumbs-up"></i> <span>お気に入りする</span></button>
<% end %>
